/*RESPONSIVE DESIGN

320px (iPhone landscape)
480px (iPhone portrait)
600px (Android Tablets)
768px (iPad + ~Galaxy Tabs)
1024px (iPad landscape and desktops)*/

@media screen and (max-width: 960px)
 and (min-width: 769px){
	header .logo{
		font-size: 58px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px){

/*HEADER*/

	.social{
		position: absolute;
	}
	.social img{
		width: 36px;
		height: 36px;
		padding: 5px;
		display: block;
	}
	header .logo a{
		font-size: 100px;
	}
	#full-list{
		display: none;
	}
	#hamburger{
		display: inline-block;
	}
	#mini-list a{
		font-size: 50px;
	}
	h4{
		display: none;
	}

/*FOOTER*/

	footer{
		font-size: 30px;
	}

	#footer img{
		width: 50px;
		height: 50px;
		padding: 20px 3px;
	}

/*INDEX*/

	#about-blurb{
		display: none;
	}
	#about-blurb-min{
		display: inline-block;	
		float: left;
		position: absolute;
		top: 50px;
		left: 30px;
		border-radius: 5px;
		font-size: 36px;
		font-weight: 500;
		height: 410px;
		width: 425px;
		background-color: white;
		opacity: 0.5;
		padding: 5px 25px 5px 8px;
		margin-top: 60px;
		margin-left: 40px;
		color: #66cccc;
		font-family: 'Margarine';
	}

	#about-blurb-min a{
		text-decoration: none;
	}
	#why-blurb{
		height: 200px;
	}
	#services-blurb{
		display: none;
	}
	#services-full{
		display: none;
	}

/*ABOUT*/
	
	.row{
		padding: 35px 45px 0;
		height: 600px;
	}
	#mypic{
		width: 100%;
		padding: 0;
	}
	#bio{
		width: 100%;
		height: 300px;
	}

}






/*
header{
	background-color: #ffee99;
  	overflow: hidden;
}

.social{
	position: absolute;
	padding: 10px;
	right: 0;
}

.social img{
	width: 35px;
	height: 35px;
	padding: 3px;
}

header .logo{
	text-align: center;
	font-size: 60px;
 	font-weight: 800;
 	font-family: 'Margarine', sans-serif;
 	margin: 30px;
}

header .logo a{
	text-decoration: none;
	color: #66cccc;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	display: inline-block;
	font-size: 18px;
}

header nav ul li a {
	color: white;
	padding: 15px;
	text-decoration: none;
	color: #957fa4;
	font-weight: 600;
	font-size: 1.2em;
}

#menu {
	text-align: center;
	width: 100%;
	padding: 5px 0px;
	background-color: white;
	font-family: Margarine;
}

#menu a:hover{
	font-weight: 700;
	color: #66cccc;
}

#hamburger{
  display: none;
  height: 36px;
  width: 48px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: white;
}

#hamburger .meat{
  border: 4px solid #957fa4;
  margin: 5px;
  width: 48px;
}

#mini-list{
	display: none;
}

#mini-list li{
	width: 100%;
	padding: 0 0 0px 0;
}

#mini-list a{
	padding: 0;
}
*/