body{
	font-size: 16px;
	font-weight: 400;
	font-family: 'Margarine', sans-serif;
	text-decoration: none;
	background-color: white;
}

.container {
  max-width: 1024px;
  margin: 0;
}

header{
	background-color: #ffee99;
  	overflow: hidden;
}

.social{
	position: absolute; 
	top: 0.97656%;
	right: 0.97656%;
}

.social img{
	width: 35px;
	height: 35px;
	padding: 3px;
}

header .logo{
	text-align: center;
	font-size: 60px;
 	font-weight: 800;
 	font-family: 'Margarine', sans-serif;
}

header .logo a{
	text-decoration: none;
	color: #66cccc;
}

header .logo h3{
	width: 100%;
	margin: 2.92969%;
}

header nav ul li {
	display: inline-block;
	font-size: 18px;
}

header nav ul li a {
	color: white;
	padding: 15px;
	text-decoration: none;
	color: #957fa4;
	font-weight: 600;
	font-size: 1.2em;
}

#menu {
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
}

#menu a:hover{
	font-size: 1.5em;
	font-weight: 700;
}

#main-image{
	background-image: url("../images/bullterrier2.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	height: 750px;
	width: 100%;
}

h4{
	color: white;
	width: 78.125%;
	font-size: 36px;
	position: absolute;
	left: 4.88281%;
	margin-top: 4.88281%;
}

#pt2{
	margin-top: 9.76563%;
	left: 27.34375%;
}

#about-blurb{
	border-radius: 5px;
	float: left;
	font-size: 36px;
	height: 330px;
	width: 29.296875%;
	background-color: white;
	opacity: 0.5;
	padding: 5px 25px 5px 25px;
	margin-top: 19.53125%;
	margin-left: 14.6484375%;
	color: #66cccc;	
}

#why-blurb{
	clear: all;
	width: 100%;
	height: 225px;
	background-color: white;
	color: #66cccc;
}

#services{
	clear: all;
	width: 100%;
	height: 300px;
	background-color: white;
	font-size: 1.3em;
}

#services h2{
	font-weight: 600;
}

#services-pic{
	float: left;
	height: 300px;
	width: 50%;
	background-image: url("../images/cockerspaniel2.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

#service-blurb{
	float: left;
	height: 300px;
	width: 46.38672%;
	color: #957fa4;
	margin: 3px;
	padding-left: 1.5625%;
}

#footer{
	width: 100%;
	height: 160px;
	text-align: center;
	background-color: #66cccc;
	padding-top: 1.95313%;
	padding-bottom: 1.95313%;
	color: white;
	font-size: 1.2em;
}

#footer img{
	width: 35px;
	height: 35px;
	padding: 20px 3px;
}

#footer a{
	color: #ffee99;
	font-weight: 300;
}

#footer a:hover{
	font-weight: 600;
	font-size: 1.3em;
}

#footer p{
	padding-top: 1.95313%;
	font-size: 12px;
	font-weight: 300;
}

#llc{
	color: #957fa4;
}

@media screen and (max-width: 960px)
 and (min-width: 769px){
	.social img{
		display: block;
	}
	header .logo h3{
		font-size: 58px;
	}
}

@media screen and (max-width: 768px){
	.social img{
		width: 28px;
		height: 28px;
		padding: 3px;
		display: block;
	}
	header .logo h3{
		font-size: 50px;
	}

}

/*RESPONSIVE DESIGN

320px (iPhone landscape)
480px (iPhone portrait)
600px (Android Tablets)
768px (iPad + ~Galaxy Tabs)
1024px (iPad landscape and desktops)*/