body{
	font-size: 16px;
	font-weight: 400;
	font-family: sans-serif;
	text-decoration: none;
	background-color: white;
}

.container {
  max-width: 100%;
  position: relative;
}

/*HEADER*/

header{
	background-color: #ffee99;
  	overflow: hidden;
}

.social{
	position: absolute;
	padding: 10px;
	right: 0;
}

.social img{
	width: 35px;
	height: 35px;
	padding: 3px;
}

header .logo{
	text-align: center;
	font-size: 48px;
 	font-weight: 800;
 	font-family: 'Margarine', sans-serif;
 	margin: 30px;
}

header .logo a{
	text-decoration: none;
	color: #66cccc;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	display: inline-block;
	font-size: 18px;
}

header nav ul li a {
	color: white;
	padding: 15px;
	text-decoration: none;
	color: #957fa4;
	font-weight: 600;
	font-size: 1.6em;
	font-family: 'Margarine';
}

#menu {
	text-align: center;
	width: 100%;
	padding: 5px 0px;
	background-color: white;
	font-family: sans-serif;
}

#menu a:hover{
	font-weight: 700;
	color: #66cccc;
}

#hamburger{
  display: none;
  height: 36px;
  width: 48px;
  padding-top: 3px;	
  background-color: white;
}

#hamburger .meat{
  border: 2.5px solid #957fa4;
  margin: 5px;
  width: 48px;
}

#mini-list{
	display: none;
}

#mini-list li{
	width: 100%;
	padding: 0 0 10px 0;
}

#mini-list a{
	padding: 0;
}

/*FOOTER*/

#footer{
	clear: all;
	width: 100%;
	height: 160px;
	text-align: center;
	background-color: #66cccc;
	padding-top: 1.95313%;
	padding-bottom: 1.95313%;
	color: white;
	font-size: 1.2em;
	font-family: 'Margarine';
}

#footer img{
	width: 35px;
	height: 35px;
	padding: 20px 3px;
}

#footer a{
	color: #ffee99;
	font-weight: 300;
}

#footer a:hover{
	font-weight: 600;
	font-size: 1.3em;
}

#footer p{
	padding-top: 1.95313%;
	font-size: 12px;
	font-weight: 300;
}

#llc{
	color: #957fa4;
	font-weight: 600;
}

/*INDEX*/

#main-image h4{
	color: white;
	font-size: 36px;
	position: absolute;
	left: 4.88281%;
	margin-top: 4.88281%;
}

#about-blurb{
	border-radius: 5px;
	position: absolute;
	font-size: 36px;
	height: 338px;
	width: 29.296875%;
	background-color: white;
	opacity: 0.5;
	padding: 5px 25px 5px 25px;
	top: 100px;
	left: 14.6484375%;
	color: #66cccc;	
	font-family: 'Margarine';
}

#about-blurb-min{
	display: none;
}

#why-blurb{
	clear: all;
	width: 100%;
	height: 225px;
	background-color: white;
	color: #957fa4;
}

#services-blurb{
	clear: all;
	width: 100%;
	height: 300px;
	background-color: white;
	font-size: 1.3em;
	font-family: 'Margarine';
}

#services h2{
	font-weight: 600;
}

#cockerspaniel{
	float: left;
	display: inline-block;
}

#services-full{
	float: right;
	width: 48%;
	height: 300px;
	color: #957fa4;
	margin-top: 0;
}

#services-min{
	display: none;
}


/*RESPONSIVE DESIGN

320px (iPhone landscape)
480px (iPhone portrait)
600px (Android Tablets)
768px (iPad + ~Galaxy Tabs)
1024px (iPad landscape and desktops)*/



/*ABOUT*/

.row{
	height: 300px;
	padding: 50px 100px 0;
	background-color: #e9e5ec;
}

.row h4{
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 28px;
}

#mypic{
	float: left;
	width: 30%;
	padding-right: 10px;
}

#bio{
	float: right;
	width: 65%;
}

#experience{
	clear: all;
	float: left;
	width: 50%;
	padding-right: 10px;
}

#parker{
	float: right;
	width: 40%;
	height: auto;
}

#grayham{
	clear: all;
	float: left;
	max-width: auto;
	height: 300px;
	padding-right: 10px;
}

#testimonials{
	float: right;
	width: 65%;
}

/*SERVICES*/

.services{
	height: 450px;
	background-color: #dfd8e3;
}

.services h4{
	color: #66cccc;
	margin: 0;
	font-size: 36px;
	padding: 30px 0 30px 30px;
}

.services p{
	margin: 0;
	padding-left: 30px;
	color: #957fa4;
}

.services ul{
	color: white;
}

/*BLOG*/

.container2{
	width: 784px;
}

.posts{
	background-color: #d1efef;
}

article{
	height: 450px;
}

aside{
	float: right;
	width: 240px;
	background-color: #dfd8e3;
}

aside h4{
	margin: 0;
}

/*CONTACT*/

#contact-body{
	margin: auto;
	height: 500px;
	padding: 15px 0 35px 0;
}

#contact-image{
	max-height: 500px;
	width: auto;
	float: left;
	padding-left: 24.414062%;
}

form{
	float: right;
	position: absolute;
	top: 13%;
	left: 59.5683%;
}

input, textarea{
	font-family: 'Margarine', sans-serif;
	font-size: 14px;
	font-weight: 300;
}