/*RESPONSIVE DESIGN

320px (iPhone landscape)
480px (iPhone portrait)
600px (Android Tablets)
768px (iPad + ~Galaxy Tabs)
1024px (iPad landscape and desktops)*/

@media screen and (max-width: 960px)
 and (min-width: 769px){
	header .logo{
		font-size: 58px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px){

/*HEADER*/

	.social{
		position: absolute;
	}
	.social img{
		width: 36px;
		height: 36px;
		padding: 5px;
		display: block;
	}
	header .logo a{
		font-size: 100px;
	}
	#full-list{
		display: none;
	}
	#hamburger{
		display: inline-block;
	}
	#mini-list a{
		font-size: 50px;
	}
	#mini-list li{
		padding-top: 25px;
	}
	h4{
		display: none;
	}

/*FOOTER*/

	footer{
		font-size: 40px;
	}

	#footer{
		height: 215px;
	}

	#footer img{
		width: 50px;
		height: 50px;
		padding: 20px 3px;
	}

/*INDEX*/

	#about-blurb{
		display: none;
	}
	#about-blurb-min{
		display: inline-block;	
		float: left;
		position: absolute;
		top: 50px;
		left: 30px;
		border-radius: 5px;
		font-size: 42px;
		font-weight: 500;
		height: 460px;
		width: 425px;
		background-color: white;
		opacity: 0.5;
		padding: 5px 25px 5px 3px;
		margin-top: 60px;
		margin-left: 40px;
		font-family: 'Margarine';
	}
	#about-blurb-min a{
		text-decoration: none;
		color: #957fa4;
	}
	#why-blurb{
		height: 640px;
		font-size: 36px;
		width: 90%;
		padding: 13px 30px 0 40px;
	}
	#services-blurb{
		display: none;
	}
	#services-full{
		display: none;
	}

/*ABOUT*/
	
	.mini-row{
		padding: 35px 45px 0;
		color: #957fa4;
	}
	#about1{
		height: 1825px;
	}
	#about2{
		height: 1475px;
	}
	#me{
		width: 100%;
		padding-top: 35px;
	}
	#pic{
		display: block;
		width: 70%;
		height: auto;
		padding: 0;
		padding-left: 15%;
	}
	#bio{
		width: 100%;
		height: 275px;
		font-size: 52px;
	}
	.full-bio{
		display: none;
	}
	#bio p{
		margin: 40px 0;
	}
	#parkey{
		width: 100%;
		margin-top: 0px;
	}
	#p{
		display: block;
		margin: auto;
		width: 100%;
		height: auto;
		padding: 0;
	}
	#experience{
		width: 100%;
		font-size: 52px;
	}
	.title{
		display: block;
		margin: auto;
		width: 100%;
		font-size: 52px;
		text-align: center;
		color: #66cccc;
		font-weight: 700;
		padding-top: 30px;	
	}
	#gdog{
		height: 501px;
		margin-top: 0;
		padding-bottom: 65px;
	}
	#grayham{
		width: 100%;
	}
	#g{
		display: block;
		margin: auto;
		height: 500px;
	}
	#testimonials{
		width: 100%;
		display: none;
	}

/*SERVICES*/

	.heading{
		text-align: center;
	}

	.services p{
		font-size: 36px;
	}

	#dogwalking{
		height: 485px;
	}

	#petsitting{
		height: 520px;
	}

	#petsitting li{
		font-size: 34px;
	}

	#training{
		height: 1100px;
	}

	#counseling{
		height: 540px;
	}

/*CONTACT*/

	#contact-body{
		height: 1200px;
		padding-left: 50px;
		padding-top: 35px;	
	}

	#mailbox{
		position: absolute;
		left: 36%;
	}

	#contact-image{
		padding: 0;
	}

	#formy{
		margin: auto;
		font-size: 48px;
		text-align: left;
		position: absolute;
		top: 550px;
		left: 13%;	
	}

	form{
		height: 300px;
		width: 300px;
		margin: 0;
		padding-left: 123px;
	}

	input, textarea{
		width: 150%;
		float: left;
		font-size: 24px;
	}

	button{
		margin-left: 150px;
	}
}






