header{
	color: pink;
}

body{
	font-family: Trebuchet MS;
}

#name{
	font-size: 50px;
	text-align: center;
}

a{
	color: gray;
}

#nav{
	margin: 0px;
	padding: 10px;
	background: black;
	text-align: center;
}

li{
	display: inline;
	padding: 14px 16px;
}

img{
	float: left;
	height: 250px;
	width: 300px;
}

#intro{
	float: right;
}