header{
	color: pink;
	font-family: 'Covered By Your Grace', cursive;
	font-weight: bold;
}

body{
	font-family: 'Patrick Hand', cursive;
}

#name{
	font-size: 50px;
	text-align: center;
}

a{
	color: gray;
}

nav{
	margin: 0px;
	padding: 3px;
	background: black;
	text-align: center;
	font-family: 'Caveat Brush', cursive;
	font-weight: normal;
}

li{
	display: inline;
	padding: 14px 16px;
}

img{
	float: right;
	height: 50%;
	width: 50%;
}

#intro{
	float: left;
	width: 50%;
}