/*Font: Open Sans (Google Font: 
https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans)*/

/*light: 300*/
/*bold: 600*/
/*semibold: 700*/
/*extrabold: 800*/


body {
	background-color: #121212;
	font-family: Open Sans;
}

.content{
	width: 1000px;
	padding-left: 60px;
	padding-right: 60px;
}

header{
	height: 700px;
	background-repeat: no-repeat;
	background-image: url("../images/header_bg.jpg");
}

header nav{
	color: white;
	font-weight: 800;
	font-size: 24px;
	padding-top: 30px;
}

header p{
	margin-top: 150px;
	font-size: 24px;
	color: white;
	text-align: center;
}

.first-button{
	text-align: center;
	margin-top: 50px;
}

.first-button a{
	color: #121212;
	text-decoration: none;
	font-size: 14px;
	font-weight: 800;
	background-color: #f9e42e;
	border-radius: 5px;
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
}

.benefits{
	color: #606161;
	background-color: white;
	border: 5px solid white;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 500px;
	padding-bottom: 100px;
	font-size: 13px
	font-weight: 300;
}

.benefits ul{
	list-style-type: disc;
}

.benefits h3{
	color: #033048;
	font-size: 20px; 
	font-weight: 700;
}

.quote{
	color: white;
	font-size: 18px;
	text-align: center;
	background-image: url("../images/testimonial_bg.jpg");
	background-repeat: no-repeat;
	padding-left: 150px;
	padding-right: 150px;
}

.quote.line{
	font-style: italic;
	font-weight: 300;
	padding-top: 45px;
}

.quote.name{
	font-weight: 700;
	padding-bottom: 100px;
}

.signup{
	text-align: center;
	background-color: #f9e42e;
	padding: 35px;
}

.signup a{
	color: white;
	font-weight: 800;
	font-size: 12px;
	text-decoration: none;
	background-color: #033048;
	border-radius: 5px;
	padding: 10px;
	padding-right: 25px;
	padding-left: 25px;
}

footer{
	background-color: #121212;
	height: 200px;
	padding: 50px;
	color: white;
	text-align: center;
}

footer h2{
	color: #f9e42e;
	margin: 0;
	font-size: 24px;
}

.social{
	margin-top: 20px;
}

.facebook{
    width: 43px;	
    display: inline-block;
}
